* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  color: #343a40;
  line-height: 1.5;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

li {
  list-style: none;
  font-size: 17px;
  margin-bottom: 10px;
}

a:link {
  text-decoration: none;
  margin-bottom: 10px;
}

.container {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  /* background-color: #444; */
  flex-direction: column;
}

.input-container {
  display: grid;

  justify-items: center;
}
.input-wallet::placeholder {
  text-align: center;
}

.inputBtn {
  width: 100px;
  text-transform: uppercase;
}

.nft-link:link,
:visited {
  color: #343a40;
}

.nft-link:hover {
  color: #1864ab;
  font-weight: bold;
}

.input-wallet {
  display: inline-block;
  width: 500px;
  margin: 50px;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(4, 250px);

  column-gap: 50px;
  row-gap: 30px;
  justify-content: space-between;
  margin-top: 100px;
  align-items: start;
}

.nft-img {
  width: 250px;
  display: inline-block;
}

.info {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.info-details {
  padding: 10px;
  font-size: 13px;
}

.info:hover {
  background-color: rgba(68, 68, 68, 0.06);
}

/* CSS for button */
.button-34 {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
